.card {
    .text-custom {
        color: #2F3842 !important;
        font-weight: bold;
        font-size: 14px;
    }
    p {
        font-size: 12px;
    }
    .profile {
        border-radius: 50%;
    }

    .fa-quote {
        font-size: 3rem;
        color: #2F3842;
    }
}