small {
    font-size: 12px;
}

.footer-nav {
    li {
        font-size: 12px;
    }
}
h5, h6, .icon {
    color: #FAEBD9;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;

    &:hover {
        font-weight: bold;
        color: #e3c493 !important;
        transition: all 0.2s ease-in-out;
    }
}

