.btn-transparent {
    background-color: #C6713D !important;
    color: #fff;
    font-size: 12px;
    padding: 10px 15px !important;

    &:hover {
        opacity: 0.75;
        transition: all 0.2s ease-in-out;
    }
    p {
        color: #FAEBD9 !important;
    }
}

.text-success {
    color:  #e3c493 !important;
}