#logo {
    width: 200px;
}

.nav-link {
    &:hover {
        color: #e3c493 !important;
        font-weight: bold;
        transition: all 0.2s ease-in-out;
    }
}

#burger-menu {
    color: #e3c493;
}