.service {
    h2 {
        color: #FAEBD9 !important;
    }
    p {
        color: #2F3842 !important;
    }
}

#card {
    min-height: 350px;

    h4 {
        font-weight: bold;
    }
}

.swiper-container {
    display: flex;
    justify-content: center !important;
    width: 100%;
    
    .swiper-button-prev, .swiper-button-next {
        color: #333 !important;
        font-weight: bolder;
    }

    .swiper-slide {
        &:hover {
            color: #022658;
            transition: all 0.2s ease-in-out;
        }
    }
    .swiper-pagination {
        bottom: -12px !important;
        height: 30px !important;
        .swiper-pagination-bullet {
            background: #fff;
        }
    }
}